
---
layout: layout
---

<%
  const fv = site.data.fediverse.article;
  const servers = fv.servers;
  const networks = site.data.common.list;
  const protocols = site.data.common.protocols;
  const langs = site.data.common.langs;
  const numbers = site.data.numbers.list.fediverse;
  const update = site.data.numbers.list.lastUpdate;
%>

<%- partial('_partial/heroheader') %>

<main class="contents">
  <div class="section">
    <h4>Fediverse</h4><span><%= fv.definition %></span>
  </div>

  <p><%= fv.preamble %></p>

  <section class="section-hero">
  <h3>
    <span><%- __('total') %></span>
    <span><% if (numbers) { %> ~ <%= numbers.population %><% } else { %> ? <% } %></span>
    <span><%- __('accounts') %></span><% if (numbers) { %><sup><a href="#fn-1">[1]</a></sup><% } %>
  </h3>
  <% if (numbers.activeUsers) { %>
    <h3>
      <span><%- __('active') %></span><span> ~ <%= numbers.activeUsers %></span><span><%- __('people') %></span><sup><a href="#fn-2">[2]</a></sup>
    </h3>
  <% } %>
  <h3>
    <span><%- __('servers') %></span>
    <span><% if (numbers) { %> > <%= numbers.podsNum %> <% } else { %> ? <% } %></span>
    <span><%- __('instances') %></span><% if (numbers) { %><sup><a href="#fn-3">[3]</a></sup><% } %>
  </h3>
</section>

  <div class="section">
    <h4><%- __('networks') %></h4>
    <ul class="section-list">
      <% for (item in networks) { %>
      <li class="u-inline">
        <a href="<%= networks[item].url %>"><%= networks[item].title %></a><span>,&nbsp;&nbsp;</span>
      </li>
      <% } %>
    </ul>
  </div>

  <div class="section">
    <h4><%- __('protocols') %></h4>
    <ul class="section-list">
      <% for (item in protocols) { %>
      <li class="u-inline">
        <a href="<%= protocols[item].url %>"><%= protocols[item].name %></a><span>,&nbsp;&nbsp;</span>
      </li>
      <% } %>
    </ul>
  </div>

  <div class="section">
    <h4><%- __('langs') %></h4>
    <ul class="article-list">
      <% for (item in langs) { %>
      <li><strong><%= langs[item].name %></strong>: <%= langs[item].networks %></li>
      <% } %>
    </ul>
  </div>

  <div class="section">
    <h4><%- __('serverLists') %></h4>
    <ul class="article-list">
      <% for (item in servers) { %>
      <li class="u-inline"><a href="https://<%= servers[item] %>"><%= servers[item] %></a></li>
      <% } %>
    </ul>
  </div>

  <p><%= fv.info %></p>

  <p class="u-center">
    <a href="https://the-federation.info" class="u-block u-emphasize btn-action centered"><%- __('joinF') %></a>
    <small>* alternative lists of servers can be found on network pages under “join the network” title</small>
  </p>

  <div class="section">
    <h4><%- __('history') %></h4>
    <ul class="article-list">
      <% for (item in fv.history) { %>
      <li><a href="<%= fv.history[item].url %>"><%= fv.history[item].title %></a></li>
      <% } %>
    </ul>
  </div>

  <div class="section">
    <h4><%- __('projects') %></h4>
    <ul class="article-list">
      <% for (item in fv.projects) { %>
      <li><a href="<%= fv.projects[item].url %>"><%= fv.projects[item].title %></a></li>
      <% } %>
    </ul>
  </div>

  <div class="section">
    <h4><%- __('reading') %></h4>
    <ul class="article-list">
      <% for (item in fv.reading) { %>
        <li><a href="<%= fv.reading[item].url %>"><%= fv.reading[item].title %></a></li>
      <% } %>
    </ul>
  </div>

  <% if (numbers) { %>
    <div class="section u-block footnotes">
      <h4><%- __('note') %></h4>
      <p class="footnote-item">
        <span id="fn-1" class="u-emphasize">[1]</span>, <span id="fn-2" class="u-emphasize">[2]</span>, <span id="fn-3" class="u-emphasize">[3]</span> - updated regularly, latest update - <%= update %>
      </p>
    </div>
  <% } %>

  <%- partial('_partial/buttons') %>
</main>
